# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=postgres

# Servidor
PORT=4000

# JWT
JWT_SECRET=
JWT_EXPIRES=2h

# Correo (Nodemailer + Gmail)
# Usa una "Contraseña de aplicación" de Google, no tu contraseña normal
# Google → Cuenta → Seguridad → Verificación en 2 pasos → Contraseñas de aplicación
MAIL_USER=tucorreo@gmail.com
MAIL_PASS=
